{% extends 'Home.html.twig' %}

{% block content %}
<div>
        <div class="page-header col-lg-8 col-sm-offset-2 text-center">
            <h4>we believe in fostering philanthropy</h4>
            <h4>we believe in nurturing entrepreneurship</h4>
            <h4>but most importantly</h4>
            <h4>we believe <u><b>everyone</b></u> has a role to play in helping the world become a better place</h4>
        </div>
        <div class="page-header col-lg-8 col-sm-offset-2">
            <div class="text-center">
                 <h2>Our products</h2>
             </div>
            <p> Alms Easy is an online market place where charity products are sold.
                Just about anybody can sell these products, and </p>
            <p>there's no limit to how creative you can get. Our market place is geared towards individuals and small companies with a</p>
            <p> unique product to sell, who are eager to help a charity.</p>
        </div>
        <div class="page-header col-lg-8 col-sm-offset-2">
            <div class="text-center">
            <h2>Here's how it works</h2>
            </div>
          <p>Every product has a charity it's dedicated to.</p>
            <p>Every products total pricing is split into three parts</p>
            <ul>
                <li><i>The Charities Cut (30-95%)</i></li>
                <li><i>The Sellers cut (0-65%)</i></li>
                <li><i>The service fee (5%)</i></li>
            </ul>
            <p>The <i>Charity cut</i> and <i>Sellers cut</i> are both decided by the vendor, and are always transparent to the customer </p>
            <p>Whenever you buy a product, your charitable contribution is recorded for you to see in your profile at any time.</p>
        </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}



