{% extends 'Home.html.twig' %}

{% block content %}
    <div class="row text-center">
        <div class="col-sm-6">
            <a><img src="https://www.thelabradorsite.com/wp-content/uploads/2015/09/train-puppy-come.jpg"
                style="width:500px;height:400px;">
            </a>
            <div>
                <h2>Ugandan water aid</h2>
            </div>
        </div>
        <div class="col-sm-6">
            <a><img src="https://www.thelabradorsite.com/wp-content/uploads/2015/09/train-puppy-come.jpg"
                    style="width:500px;height:400px;">
            </a>
            <div>
                <h2>Toys for kids</h2>
            </div>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-sm-6">
            <a><img src="https://www.thelabradorsite.com/wp-content/uploads/2015/09/train-puppy-come.jpg"
                    style="width:500px;height:400px;">
            </a>
            <div>
                <h2>World Wildlife Fund</h2>
            </div>
        </div>
        <div class="col-sm-6">
            <a><img src="https://www.thelabradorsite.com/wp-content/uploads/2015/09/train-puppy-come.jpg"
                    style="width:500px;height:400px;">
            </a>
            <div>
                <h2>Ocean Cleanup</h2>
            </div>
        </div>
    </div>
    <br>

    <br><br><br><br>
{% endblock %}