{% extends 'base.html.twig' %}
{% block content %}
    <div>
        <div class="page-header col-lg-8 col-sm-offset-2">
            <div class="text-center">
                <h2>Why Should you sell?</h2>
            </div>
        <p>Blah asldjfalksdjf;laksjdf;lkasjd;lkfj;alksjf;alskjdf</p>
        </div>
        <div class="page-header col-lg-8 col-sm-offset-2">
            <div class="text-center">
                <h2>Here's how it works</h2>
            </div>
            <p>Every product has a charity it's dedicated to.</p>
            <p>Every products total pricing is split into three parts</p>
            <ul>
                <li><i>The Charities Cut (30-95%)</i></li>
                <li><i>The Sellers cut (0-65%)</i></li>
                <li><i>The service fee (5%)</i></li>
            </ul>
            <p>The <i>Charity cut</i> and <i>Sellers cut</i> are both decided by the vendor, and are always transparent to the customer </p>
            <p>Whenever you buy a product, your charitable contribution is recorded for you to see in your profile at any time.</p>
            </div>
        <div class="page-header col-lg-8 col-sm-offset-2">
            <div class="text-center">
                <h2>Tips to getting started</h2>
            </div>
            <p>a;lskdjfl;askjdf;laksjdf;laksdjf;alksdjf;laskdjf</p>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
    </div>
{% endblock %}